{% extends 'base.html' %}

{% block content %}
<main>
    <div class="biketable">
        <h1>{% block title %}Bikes{% endblock %}</h1>
        {% if g.user %}
            <a class="action" href="{{ url_for('bikeservice.create_bike') }}">New Bike</a>
        {% endif %}
        {% if bike_list %}
            <table>
                <thead>
                    <tr>
                        <th>Manufaturer</th>
                        <th>Model</th>
                        <th>Date acquired</th>
                        <th>Owner</td>
                        <th>Km</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                {% for bike in bike_list %}
                    <tr>
                        <td>{{ bike['manufacturer'] }}</td>
                        <td>{{ bike['model'] }}</td>
                        <td>{{ bike['acquired'] }}</td>
                        <td>{{ bike['username'] }}</td>
                        <td>{{ bike['km'] }}</td>
                        <td id="editbutton"><a class"action" href="{{ url_for('bikeservice.update_bike', id=bike['id']) }}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock %}
