{% extends 'base.html' %}

{% block content %}
<main>
    <div class="biketable">
        <h1>{% block title %}Parts{% endblock %}</h1>
        {% if g.user %}
            <a class="action" href="{{ url_for('bikeservice.create_part') }}">New Part</a>
        {% endif %}
        {% if part_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Part type</th>
                        <th>Date acquired</th>
                        <th>Bike</td>
                        <th>Km</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for part in part_list %}
                    <tr>
                        <td>{{ part['manufacturer'] }} {{ part['model'] }}</td>
                        <td>{{ part['part_type'] }}</td>
                        <td>{{ part['acquired'] }}</td>
                        <td>{{ part['bikemanufacturer'] }} {{ part['bikemodel'] }}</td>
                        <td>{{ part['km'] }}</td>
                        <td id="editbutton"><a class"action" href="{{ url_for('bikeservice.update_part', id=part['id']) }}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock %}
