/*Color palette*/
/*https://www.colourlovers.com/palette/623761/Walking_Away*/
:root {
    --backgroundcolor: #f5f2f2;
    --textcolor: #313b3b;
    --bannercolor: #889e6d;
    --darkbrown: #807269;
    --lightgrey: #949d95;
    --tableaccent: #ddd;
}


html {
    height: 100%;
    background-color: var(--backgroundcolor);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: var(--textcolor);
}

main {
    width: 100%;
}

footer {
    margin-bottom: auto;
    min-height: 120px;
    background-color: var(--lightgrey);
    text-align: center;
}

footer p, footer a{
    margin-top: 50px;
    color: var(--backgroundcolor);
}

header {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bannercolor);
    padding-left: 10px;

}

.biketable {
    width: 100%;
    margin-bottom: 10px;;
    padding-bottom: 10px;;
    overflow: auto;
}

.biketable table {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 10px;
    text-align: left;
    border-collapse: collapse;
}

#editbutton {
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#editbutton a {
    color: var(--textcolor);
}

.biketable table tbody tr:nth-child(odd) {
    background-color: var(--tableaccent);
}

.space {
    flex: 1;
    margin-top: 10px;
}

.headerspace {
    flex: 1;
    flex-grow: 1;
}

.action {
    background-color: var(--darkbrown);
    color: var(--backgroundcolor);
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
}
.submitbutton {
    background-color: var(--darkbrown);
    color: var(--backgroundcolor);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

nav a {
    text-decoration: none;
    color: var(--backgroundcolor);
}


#loginform, #registerform, #create_bike_form, #create_part_form{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
}

#loginform input, #registerform input, #create_bike_form input, #create_part_form input{
    flex:1;
}

.menugroup {
    flex: 1;
    display: flex;
    margin-top:auto;
    margin-bottom:auto;
    justify-content: space-evenly;
}

.menuitem {
    flex: 1;
    max-width: 40px;
    min-width: 40px;
    text-align: center;
}


nav h1 {
    flex: 1;
    flex-shrink: 1;
}

#accountpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#accountdiv {
    height: 200px;
    border: solid;
    text-align: center;
}

#accountdiv a {
    display: block;
}

#accountdiv h4 {
    margin-top: 1px;
}
