/*Color palette*/
/*https://www.colourlovers.com/palette/623761/Walking_Away*/
:root {
    --backgroundcolor: #f5f2f2;
    --textcolor: #313b3b;
    --bannercolor: #889e6d;
    --darkbrown: #807269;
    --lightgrey: #949d95;
}


html {
    height: 100%;
    background-color: var(--backgroundcolor);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: var(--textcolor);
}

main {
    width: 100%;
}

footer {
    margin-bottom: auto;
    min-height: 120px;
    background-color: var(--lightgrey);
    text-align: center;
}

footer p {
    margin-top: 50px;
}

header {
    margin: 0px;
}

nav {
    display: flex;
    background-color: var(--bannercolor);
    padding-left: 10px;

}

.biketable {
    width: 100%;
    margin: 0px;
}

.biketable table {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    text-align: left;
}

.biketable table tbody tr:nth-child(odd) {
    background-color: var(--lightgrey);
}

.space {
    flex: 1;
}

.action {
    background-color: var(--darkbrown);
    color: var(--backgroundcolor);
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
}
.submitbutton {
    background-color: var(--darkbrown);
    color: var(--backgroundcolor);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

nav a {
    text-decoration: none;
    color: var(--backgroundcolor);
}


#loginform, #registerform, #create_bike_form, #create_part_form{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
}

#loginform input, #registerform input, #create_bike_form input, #create_part_form input{
    flex:1;
}

.menugroup {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-top:auto;
    margin-bottom:auto;
}

.menuitem {
    flex: 1;
    max-width: 100px;
}

nav h1 {
    flex: 1;
}
